.nav__list {
  display: flex;

  justify-content: space-between;
  gap: 83px;
  
  padding: 0;
  margin: 0;

  list-style: none;
}

.nav__item {
  @include font-add($weight: 500);
  color: $color;
  cursor: pointer;

  &:hover {
    color: $color-text;
  }

  &--current {
    font-weight: 900;
    text-decoration: underline;

    cursor: initial;

    &:hover {
      color: $color;
    }
  }
}
