$color: #333;
$color-text: #4F4F4F;

$gradient: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);

$width-desktop-external: 1620px;
$width-desktop-middle: 1200px;
$width-desktop-inner: 790px;