@mixin font-add($size: 16px, $height: 19px, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin link-reset($link-color: $color) {
  color: $link-color;
  text-decoration: none;
}